<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="queries" fileName="logs/queries.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>


    </Appenders>
    <Loggers>

        <Logger name="console_customer_list" additivity="false">
            <AppenderRef ref="queries"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>


    </Loggers>
</Configuration>
